@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@import "tailwindcss";
@config "../tailwind.config.js";
  /* @font-face {
  font-family: sfpro;
  src: url(./assets/fonts/SFpro/SFPRODISPLAYREGULAR.OTF);
} */
  html {
    font-family: "Poppins", sans-serif;
    height: 100%;
    overflow: hidden;
  }
#root{
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;
  height: 100%;
  background: #eaebf0;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Customize the scrollbar thumb */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #49556d;
  /* Customize the scrollbar thumb */
}
textarea {
  resize: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
:disabled {
  cursor: default;
  opacity: 0.5;
}
.otp__wrapper input:focus-within {
  outline: 1px solid #49556d;
}
.otp__wrapper > div {
  width: 100%;
  justify-content: center;
}

.lang__cards input[type="radio"] {
  opacity: 0;
}

.select-wrapper option {
  font-size: 0.875rem;
  color: #49556d;
  line-height: 1.4;
  font-weight: 400;
}
.custom-stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step {
  display: flex;
  align-items: center;
}

.separator {
  width: 30px; /* Set the width of your custom image */
  height: auto; /* Adjust the height as needed */
  margin: 0 10px; /* Adjust the margin as needed */
}

/* Add styling for the active step */
.step.active {
  font-weight: bold;
  color: #007bff; /* Change the color to your desired active step color */
}
.slider {
  appearance: auto;
}

.ql-container {
  max-height: 87%;
}
.ql-toolbar.ql-snow {
  width: 100%;
  font-family: "Inter" !important;
}
.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  border: none !important;
}

/* @media screen and (max-height: 512px) {
  body {
    overflow-y: auto;
  }
}

@media only screen and (min-width: 280px) {
  html,
  body {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1600px) {
  html,
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 2200px) {
  html,
  body {
    font-size: 24px;
  }
} */
